.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgba(9, 195, 201, 0.789);
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: yellow;
}

@media (max-width: 768px) {
  .nav-links {
    display: block;
    text-align: center;
  }
}
